<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.com" version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Plugin_test</name>
  <description>
    A blank project.
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>

  <!-- PhoneGap plugins for PhoneGap Build to attach to build -->
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" source="pgb" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" source="pgb" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" source="pgb" />
  <gap:plugin name="com.paypal.cordova.mobilesdk" source="npm" />
  <!-- <gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.8" />
 -->
  <!-- Use the newest version of PhoneGap -->
  <preference name="phonegap-version" value="3.6.3" />

  <!-- Device permission is needed -->
  <feature name="http://api.phonegap.com/1.0/device"/>

  <!-- Splash icon is on same directory as this file -->
  <gap:splash src="splash.png" />
</widget>


